@import url("fonts.css");
body {
  background-color: #e3e3e3;
}
div.font-bold{
  color: #D53F8C
}
.a {
  height: 55px;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}
.color1{
    background-color: #eaeaea;
}
div.a p, .loader p{
  margin: auto;
  font-family: IBM Bold;
  font-size: 2.2rem;
  color: #666
}
footer.a p{
  margin: auto;
  font-family: IBM Bold;
  font-size: 1.2rem;
  color: #666
}
footer.a p span{
  color: blue
}
.b {
  font-family: IBM Bold;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100vh - 55px * 3);
}

img.w-full{
  max-width: calc(100vw - 45px);
}

.a a, .a img {
  width: 45px;
  margin: auto;
}

a{
  text-decoration-line: none;
}